Repository Mozilla-Ocho/llamafile, pull requests merged in 2024-07, with the labels that each got.

#480 Update README.md
  README.md
Labels: documentation

#495 Supports SmolLM
  llama.cpp/llama.cpp
  llama.cpp/llama.h
Labels: llama.cpp

#517 Add whisper.cpp (server) support to llamafile
  Makefile
  llama.cpp/ggml-backend.c
  llama.cpp/ggml-backend.h
  llamafile/llamafile.c
  llamafile/llamafile.h
  whisper.cpp/BUILD.mk
  whisper.cpp/common.cpp
  whisper.cpp/common.h
  whisper.cpp/dr_wav.h
  whisper.cpp/ggml_extend.hpp
  whisper.cpp/httplib.h
  whisper.cpp/server.cpp
  whisper.cpp/whisper-mel-cuda.cu
  whisper.cpp/whisper-mel-cuda.hpp
  whisper.cpp/whisper-mel.hpp
  whisper.cpp/whisper.cpp
  whisper.cpp/whisper.h
Labels: llama.cpp, llamafile
