Repository Mozilla-Ocho/llamafile, pull requests merged in 2024-06, with the labels that each got.

#461 Update sever README build/testing instructions
  llama.cpp/server/README.md
Labels: llama.cpp

#464 Optimized matrix multiplications for i-quants on __aarch64__
  llamafile/iqk_mul_mat.inc
Labels: llamafile

#473 update GGML_HIP_UMA
  llama.cpp/ggml-cuda.cu
  llamafile/cuda.c
Labels: llama.cpp, llamafile
