Repository Mozilla-Ocho/llamafile, pull requests merged in 2024-05, with the labels that each got.

#427 Update llama.cpp for Meta-LLama-3
  llama.cpp/llama.cpp
Labels: bug

#428 Faster AVX2 matrix multiplications for MoE models
  llama.cpp/ggml.c
  llamafile/iqk_mul_mat.inc
  llamafile/iqk_mul_mat_amd_avx2.cpp
  llamafile/iqk_mul_mat_amd_zen4.cpp
  llamafile/sgemm.cpp
  llamafile/sgemm.h
  llamafile/tinyblas_cpu_unsupported.cpp
Labels: performance

#354 Fix typo in llama.h
  llama.cpp/llama.h
Labels: documentation

#435 Another performance optimization for Zen4 + refactoring
  llama.cpp/ggml.c
  llamafile/BUILD.mk
  llamafile/iqk_mul_mat.inc
Labels: performance

#449 github: add mention of strace and ftrace
  .github/ISSUE_TEMPLATE/01-bug-low.yml
  .github/ISSUE_TEMPLATE/02-bug-medium.yml
  .github/ISSUE_TEMPLATE/03-bug-high.yml
  .github/ISSUE_TEMPLATE/04-bug-critical.yml
Labels: devops

#457 github: delete question in favor of link to discussion
  .github/ISSUE_TEMPLATE/06-question.yml
  .github/ISSUE_TEMPLATE/06-refactor.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: devops

#453 Performance improvements on Arm for legacy and k-quants
  llama.cpp/ggml-common.h
  llama.cpp/ggml-quants.inc
  llama.cpp/quantize/quantize.cpp
  llamafile/BUILD.mk
  llamafile/iqk_mul_mat.inc
  llamafile/iqk_mul_mat_arm82.cpp
  llamafile/sgemm.cpp
  llamafile/sgemm.h
  llamafile/tinyblas_cpu_sgemm.inc
  llamafile/tinyblas_cpu_sgemm_arm82.cpp
Labels: llama.cpp, llamafile
