Repository Mozilla-Ocho/llamafile, pull requests merged in 2025-03, with the labels that each got.

#607 [llamafiler] doc/v1_chat_completions.md: remove duplicate entry
  llamafile/server/doc/v1_chat_completions.md
Labels: llamafile

#637 Update server readme with code completion (FIM) example
  llama.cpp/server/README.md
Labels: llama.cpp

#641 URL constructor to get a clean url_prefix (fix #640)
  llama.cpp/server/public/index.html
Labels: llama.cpp

#681 Fix translation bug from cpp to js in TS highlight
  llamafile/server/www/highlight_typescript.js
Labels: llamafile

#712 Unify button look and rearrange buttons to make them more compact
  llamafile/server/www/chatbot.css
  llamafile/server/www/gear.svg
  llamafile/server/www/index.html
  llamafile/server/www/menu.svg
  llamafile/server/www/redo.svg
  llamafile/server/www/upload.svg
Labels: llamafile

#713 Improve OpenAI compatibility for /v1/* endpoints
  llamafile/server/client.cpp
  llamafile/server/client.h
  llamafile/server/doc/endpoints.md
  llamafile/server/doc/v1_chat_completions.md
  llamafile/server/doc/v1_completions.md
  llamafile/server/v1_chat_completions.cpp
  llamafile/server/v1_completions.cpp
  llamafile/server/v1_models.cpp
Labels: llamafile

#585 Update WSL troubleshooting in README.md
  README.md
Labels: documentation

#717 Initial support for Gemma 3 models
  llama.cpp/llama.cpp
Labels: llama.cpp

#719 Add copy and info buttons to the chat window and improve small screen UX
  llamafile/server/www/chatbot.css
  llamafile/server/www/chatbot.js
  llamafile/server/www/clipboard.js
  llamafile/server/www/index.html
  llamafile/server/www/render_markdown.js
  llamafile/server/www/send.svg
  llamafile/server/www/stop.svg
Labels: llamafile

#727 Avoid streaming incomplete UTF-8 characters
  llamafile/server/utf.cpp
  llamafile/server/utils.h
  llamafile/server/v1_chat_completions.cpp
  llamafile/server/v1_completions.cpp
Labels: llamafile
