Repository Mozilla-Ocho/llamafile, pull requests merged in 2025-01, with the labels that each got.

#683 Update Makefile: Fix PHONY from check to cosmocc and cosmocc-ci respectively
  Makefile
Labels: bug, low severity

#685 Updated README to reflect WSL 2 command for Windows 11
  README.md
Labels: documentation

#687 Add Support for DeepSeek-R1 models
  llama.cpp/llama.cpp
Labels: llama.cpp
